/.externals
/tmp
/dev/tmp
/dev/target
/dev/target_*
/dev/asio
/dev/asio_mxxru
/dev/so_5
/dev/timertt
/dev/nodejs
/dev/fmt
/dev/fmt_mxxru
/dev/rapidjson_mxxru
/dev/rapidjson
/dev/json_dto
/dev/catch2
/dev/clara
/dev/cmake_build*
/cmake_build*
/vcpkg
/dev/doc/*
/dev/zlib
o/*
./wiki
*.sublime-project
*.sublime-workspace
*.swp
*.log
/dev/local-build.rb
/dev/__*.vim
/dev/__*.cpp

